@media only screen and (min-width: 0px) {
body{text-align: center;
     margin-top: 80px;
    }
body a{text-decoration: none;
  color: black;}
/*columbia where to eat*/
i{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: bold;
  }

/*on campus five points vista*/
.list{font-family: 'Roboto', sans-serif;
      font-size: 23px;}
.list a:hover{background-color: green;}

/*language*/
span{font-family: 'Noto Sans', sans-serif;
            font-size: 15px;
            font-weight: bold;}
.lang:hover{background-color: yellow;}



.bottom{
      
      font-family: 'Roboto', sans-serif;
      margin-bottom:0;
      
    }
/*footer p{margin-bottom: -1px;}*/

.bottom a{font-family: 'Noto Sans', sans-serif;
        margin-bottom: 0;
        padding-right:5px;
        }
}




@media only screen and (min-width: 768px) {
  body{text-align: center;
     margin-top: 80px;
    }
body a{text-decoration: none;
  color: black;}
/*columbia where to eat*/
i{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: bold;
  }

/*on campus five points vista*/
.list{font-family: 'Roboto', sans-serif;
      font-size: 23px;}
.list a:hover{background-color: green;}

/*language*/
span{font-family: 'Noto Sans', sans-serif;
            font-size: 15px;
            font-weight: bold;}
.lang:hover{background-color: yellow;}



.bottom{
      
      font-family: 'Roboto', sans-serif;
      margin-bottom:0;
      
    }
/*footer p{margin-bottom: -1px;}*/

.bottom a{font-family: 'Noto Sans', sans-serif;
        margin-bottom: 0;
        padding-right:5px;
        }
}
