@media only screen and (min-width: 0px) {
header{display: none;}
#lang{display: block; float: right; font-family:'Roboto', sans-serif;}



.title_1{font-family:'Raleway', sans-serif; font-weight: bold; font-size: 55px;margin-top: 23px; color:#120659;}
.title_2{font-family:'Raleway', sans-serif; font-weight: bold; font-size: 40px; margin-top: -65px; margin-bottom: -10px;color:#120659;}
p{text-align: center; font-family:'Raleway', sans-serif;color:#120659; }

.square_1{height:105px; width:80%; background-color: #eddada; border-radius: 30px; margin-left: 10%; margin-bottom:10px;}
.square_2{height:105px; width:80%; background-color: #efedd0; border-radius: 30px; margin-left: 10%; margin-bottom:10px;}
.square_3{height:105px; width:80%; background-color: #eeedf4; border-radius: 30px; margin-left: 10%;}

#list p{display:none;}
#list div {display:inline-block;}
#list h1{color:#f7f7f7;font-family:'Raleway', sans-serif; margin-top:20px;
		text-align: center;font-style: italic; font-size: 51px;}
.square_1:hover{background-color:#ddafaf;}
.square_2:hover{background-color:#e5df95;}
.square_3:hover{background-color:#d5d3e0;}
a{text-decoration: none;}
.fb{margin-top:-12px;font-family:'Raleway', sans-serif;text-align: center;color:#120659;}
.fb a {color:black;}
.fb a:hover{color:lightblue;}
.developed{font-size:13px;color:#120659;}
}




@media only screen and (min-width: 768px) {
header{display: none;}
#lang{display: block; float: right; font-family:'Roboto', sans-serif;}



.title_1{font-family:'Raleway', sans-serif; font-weight: bold; font-size: 55px;margin-top: 23px;}
.title_2{font-family:'Raleway', sans-serif; font-weight: bold; font-size: 40px; margin-top: -65px; margin-bottom: -10px;}
p{text-align: center; font-family:'Raleway', sans-serif; }

.square_1{height:290px; width:20%; background-color: #e2e2e2; border-radius: 30px; overflow:hidden;margin-left: 20%;}
.square_2{height:290px; width:20%; background-color: #e2e2e2; border-radius: 30px;overflow:hidden;}
.square_3{height:290px; width:20%; background-color: #e2e2e2; border-radius: 30px;overflow:hidden;}

#list p{font-size: 15px;font-family: 'Roboto', sans-serif; font-weight: lighter; color:#828282;}
#list div {display:inline-block;}
#list h1{color:#f7f7f7;font-family:'Raleway', sans-serif; margin-top:80px; 
		text-align: center;font-style: italic; font-size: 51px;}
.square_1:hover{background-color:#ddafaf;}
.square_2:hover{background-color:#e5df95;}
.square_3:hover{background-color:#d5d3e0;}
a{text-decoration: none;}
.fb{margin-top:-12px;font-family:'Raleway', sans-serif;text-align: center;}
.fb a {color:black;}
.fb a:hover{color:lightblue;}
.developed{font-size:13px;}





}
