/*for mobile phone*/
@media only screen and (min-width: 0px) {
span{font-size: 20px;}
     /*color: lightblue;}*/
span:hover {color: blue;}
.xn{z-index: -1;}
/*tropical smoothie cafe*/
#x1{
  color: pink;
  position: absolute;
  top:60px;
  left:150px;
}
/*firehouse*/
#x2{
  position: absolute;
  top:237px;
  left:148px;
}
/*moe's*/
#x3{
  position: absolute;
  top:237px;
  left:135px;
}
/*blend*/
#x4{
  position: absolute;
  top:237px;
  left:110px;
}
/*jj*/
#x5{
  position: absolute;
  top:203px;
  left:110px;
}
/*wendy's*/
#x6{
  position: absolute;
  top:203px;
  left:240px;
}
/*immaculate consumption*/
#x7{
  position: absolute;
  top:237px;
  left:320px;
}
/*whichwich*/
#x8{
  position: absolute;
  top:260px;
  left:310px;
}
/*coolbeans*/
#x9{
  position: absolute;
  top:280px;
  left:290px;
}
img{
        order: 1;
        width: 350px;
        height: auto;

      }
.menu{order: 2;}
#infor{order: 3;}
}




/*for desktop*/
@media only screen and (min-width: 768px) {
span{font-size: 30px;}
     /*color: lightblue;}*/
span:hover {color: blue;}
.xn{z-index: -1;}
/*tropical smoothie cafe*/
#x1{
  color: pink;
  position: absolute;
  top:300px;
  left:140px;
}
/*firehouse*/
#x2{
  position: absolute;
  top:305px;
  left:410px;
}
/*moe's*/
#x3{
  position: absolute;
  top:330px;
  left:410px;
}
/*blend*/
#x4{
  position: absolute;
  top:365px;
  left:410px;
}
/*jj*/
#x5{
  position: absolute;
  top:365px;
  left:360px;
}
/*wendy's*/
#x6{
  position: absolute;
  top:160px;
  left:360px;
}
/*immaculate consumption*/
#x7{
  position: absolute;
  top:35px;
  left:410px;
}
/*whichwich*/
#x8{
  position: absolute;
  top:45px;
  left:450px;
}
/*coolbeans*/
#x9{
  position: absolute;
  top:85px;
  left:480px;
}

img{width: 960px;
    
    z-index: -2;
   
    }
#pop{
    float: right;
    width: 250px;
    }

.menu{
      float: right;
      }
}
