@media only screen and (min-width: 0px) {
span{font-size: 20px;}
     /*color: lightblue;}*/
span:hover {color:#edcc57;}
.xn{z-index: -1;}
/*menkoi*/
#x1{
   position: absolute;
  top:90px;
  left:200px;
}
/*mellow mushroom*/
#x2{
  position: absolute;
  top:80px;
  left:105px;
}
/*929*/
#x3{
  position: absolute;
  top:190px;
  left:115px;
}
/*kaminsky*/
#x4{
  position: absolute;
  top:180px;
  left:200px;
}
/*five guys*/
#x5{
  position: absolute;
  top:190px;
  left:290px;
}
/*old chicago*/
#x6{
  position: absolute;
  top:320px;
  left:215px;
}
/*chipotle*/
#x7{
  position: absolute;
  top:440px;
  left:95px;
}

img{order: 1;
        width:350px;
        height: auto;}
.menu{/*float: right;*/font-family: 'Roboto', sans-serif;font-weight: bold; color:#a8a4bd;}
a{text-decoration: none;}
.menu:hover{color:#edcc57}
#info{font-family: 'Roboto', sans-serif;}
}

@media only screen and (min-width: 768px) {
span{font-size: 30px;}
     /*color: lightblue;}*/
span:hover {color:#edcc57;}
.xn{z-index: -1;}
/*menkoi 320 960*/
#x1{
  position: absolute;
  top:275px;
  left:790px;
}
/*mellow mushroom*/
#x2{
  position: absolute;
  top:160px;
  left:800px;
}
/*929*/
#x3{
  position: absolute;
  top:180px;
  left:670px;
}
/*kaminsky*/
#x4{
  position: absolute;
  top:290px;
  left:680px;
}
/*five guys*/
#x5{
  position: absolute;
  top:400px;
  left:680px;
}
/*old chicago*/
#x6{
  position: absolute;
  top:310px;
  left:510px;
}
/*chilpotle*/
#x7{
  position: absolute;
  top:170px;
  left:330px;
}

img{width: 960px;
    
    z-index: -2;
    
    }
#pop{
    float: right;
    width: 270px;
    }

.menu{/*float: right;*/font-family: 'Roboto', sans-serif;font-weight: bold; color:#a8a4bd;font-size: 20px;}
a{text-decoration: none;}
.menu:hover{color:#edcc57}
#info{font-family: 'Roboto', sans-serif;}
}